body {background-color: brown;}

.font-center{text-align: center;}
.sty1{background-color: aqua;}
.sty2{background-color: white;}
.sty3{background-color: grey;}

.wordsty1{background-color: white;}
.wordsty2{background-color: black;}
